html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: white;
	background: #444
}

/* Main app */
#app {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-rows: auto 2fr 1fr;
	grid-template-areas: "inputZone"
						 "singleWord"
						 "controls";
}
/* */


/* Input Zone */
#inputZone {
	grid-area: inputZone;
}
/* */


/* Single word area */
#singleWord {
	grid-area: singleWord;
	font-family: courier;
	font-size: 6em;
	
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	
	background: #444;
}

#left {
	text-align: right;
	color: white;
}

#middle {
	text-align: center;
	color: red;
}

#right {
	text-align: left;
	color: white;
}
/* */


/* Controls Area */
#controls {
	grid-area: controls;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-areas: "wpm   arrows nothing"
						 "hText hText  hText"
}

#controlArrows {
	grid-area: arrows;
	font-size: 3em;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

#controlArrows > div {
	text-align: center;
	vertical-align: middle;
	padding: 0.5em;
}

#controlArrows > div:hover {
	background: #555
}

#highlightedTextArea {
	grid-area: hText;
	font-size: 0.5em;
	color: #aaa;
	padding: 10px;
	--highlightedChild: 1;
}

#highlightedTextArea > span.highlight, #highlightedTextArea > span:hover {
	color: white;
	background: #777;
}

#highlightedTextArea:nth-child(2) {
	color: white;
	background: #777;
}

/* */